body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fc;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(135deg, #6a89cc, #b8e994);
}

.college-logo {
    width: 150px;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

.login-input {
    padding: 10px;
    width: 250px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.login-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #38ada9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.login-button:hover:not(:disabled) {
    background-color: #079992;
}
